<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客用户注册</title>
    <link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css"/>
    <link rel="stylesheet" href="../static/css/me.css"/>
</head>
<body>
<br>
<br>
<br>
<br>
<br>

<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <div class="content">
                        用户注册
                    </div>
                </h2>
                <form class="ui large form" method="post" action="#" th:action="@{/register/check}">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="child icon"></i>
                                <input type="text" name="nickname" placeholder="昵称">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="passwordConfirm" placeholder="确认密码">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="tags icon"></i>
                                <input type="email" name="email" placeholder="email">
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button">注册</button>
                    </div>

                    <div class="ui error mini message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}"
                         th:text="${message}"></div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/semantic.min.js"></script>
<script src="../static/js/background.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.ui.form').form(

        {
        fields: {
            nickname: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入昵称'
                }]
            },
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '请输入密码'
                }]
            },
            passwordConfirm: {
                identifier: 'passwordConfirm',
                rules: [{
                    type: 'empty',
                    prompt: '请输入确认密码'
                }, {
                    type: 'match[password]',
                    prompt: '两次密码不一致'
                }]
            },
            email: {
                identifier: 'email',
                rules: [{
                    type: 'empty',
                    prompt: '请输入邮箱'
                }]
            }
        }
    });

    //" + $("input[name='password']").val()  +  "

</script>
</body>
</html>
